.about-hero {
  background-image: url("../../assets/images/slider-2.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.about-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: brightness(0.8);
  z-index: 1;
}
.about-hero-text {
  position: relative;
  z-index: 2;
  padding-top: 10rem;
  text-align: center;
  color: white;
}
.about-hero-heading {
  font-size: 5rem;
}
.about-hero-subtext {
  padding-top: 5px;
  font-size: 1.9rem;
}

.about-hero-button {
  background: transparent;
  color: white;
  border: 2px solid white;
  margin: 3.4rem 0;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 3px;
  letter-spacing: 4px;
  transition: color 0.5s, background-color 0.5s;
}
.about-hero-button:hover {
  color: black;
  background-color: white;
  transition: color 0.5s, background-color 0.5s;
  cursor: pointer;
}

.about-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  max-width: 55%;
  margin: 0 auto;
  height: 100vh;
}
.about-welcome-img {
  width: 50%;
  min-height: 65vh;
  object-position: center;
  object-fit: cover;
}
.about-welcome-text {
  text-wrap: pretty;
  width: 25rem;
}

.about-welcome-heading {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.about-welcome-para {
  font-weight: 200;
  font-size: 18px;
  line-height: 1.8;
  color: #6c757d;
  margin-bottom: 1rem;
}

.about-button {
  background: transparent;
  color: black;
  border: 2px solid rgb(101, 192, 186);
  margin: 3rem 0;
  padding: 0.7rem 2rem;
  font-weight: 600;
  border-radius: 3px;
  letter-spacing: 4px;
  transition: color 0.5s, background-color 0.5s;
}
.about-button:hover {
  color: white;
  background-color: rgb(101, 192, 186);
  transition: color 0.5s, background-color 0.5s;
  cursor: pointer;
}

.team-heading {
  font-size: 2rem;
}

.team-para{
  font-size: 1.25rem;
  font-weight: 300;
  color: #6c757d;
}

.team-grid {
  width: 60%;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.team-person {
  box-shadow: 1px 1px 2px #88888870;
}

.team-person div {
  padding: 2rem;
}
.team-person img {
  width: 100%;
}
.team-person-role {
  color: rgb(206, 212, 218);
  font-family: "Mukta Mahee", arial, sans-serif;
}

.team-person-name {
  font-size: 26px;
}
