.footer {
  background: #1a1a1a;
}
.footer-main {
  width: 60%;
  margin: 0 auto;
  padding: 8rem 0;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.link-head {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}
.link-box p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
  font-size: 18px;
  line-height: 1.8;
  font-family: "Mukta Mahee", arial, sans-serif;
  margin: 1rem 0;
}

.link-box input {
  background-color: transparent;
  border: none;
  padding: 1rem 0;
}
.link-box input::placeholder{
    font-style: italic;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.2);
}

.link-address-head {
  font-style: italic;
  color: #fff;
  font-family: "Mukta Mahee", arial, sans-serif;
  font-weight: 200;
  font-size: 18px;
  margin-top: 1rem;
}
.fade-link {
  color: rgba(255, 255, 255, 0.5) !important;
  margin: 0 !important;
}

.paperplane {
background-color: transparent;
border: none;
}

.input-group{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 600px) {
  .footer-links{
    grid-template-columns: 1fr;
  }
}


@media only screen and (min-width: 601px) and (max-width: 992px) {
  
}


@media only screen and (min-width: 993px) {
 
}